app = "kompli-bot"

kill_signal = "SIGINT"
kill_timeout = 5

[build]
  image = "python:3.11"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 8080
    handlers = ["http"]
